@{
    ViewData["Title"] = "Success";
}

<h1>Welcome</h1>
<img src="https://media3.giphy.com/media/QMkPpxPDYY0fu/giphy.gif?cid=6c09b9527w0erxrnee0f6uahn1chzq9e5ysyfavzev0w76jf&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="Leo Champagne Gif">